{% extends 'layout.html' %}

{% block content %}
<div class="flex flex-col flex-auto h-full w-full items-center justify-center">
    <div class="max-w-2xl w-2xl bg-white border border-gray-200 rounded-lg shadow-md">
        <a href="#">
            <img id="view-image" class="rounded-t-lg" src="/static/images/bg-picture.webp" alt="" />
        </a>
        <div class="p-5">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mask Detection</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Pick you image to process...</p>
    
            <div class="w-full mx-auto">
                <label for="pictures" hidden class="hidden block mb-2 text-sm font-medium text-gray-900">Hình ảnh</label>
                <div class="w-full inline-flex rounded-lg border border-blue-50">
                    <div class="flex items-center justify-center w-full">
                        <label for="pictures" class="flex flex-col items-center justify-center w-full h-40 border-2 border-blue-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-50">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <div class="inline-flex items-center text-blue-300 bg-gradient-to-br from-blue-100 to-red-50 hover:bg-gradient-to-bl hover:from-blue-100 hover:to-red-50 focus:text-green-300 hover:text-green-400 focus:ring-2 focus:outline-none focus:ring-green-100 font-medium rounded-lg text-xl px-4 py-2 mx-2 text-center">
                                    <svg aria-hidden="true" class="w-10 h-10 p-1 m-2 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                                </div>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Nhấp chuột để tải hình ảnh</span> hoặc kéo thả</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF</p>
                            </div>
                            <input class="hidden" id="pictures" type="file" accept="image/*"/>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/static/scripts/ai.js"></script>
{% endblock %}

{% block script %}

{% endblock %}