{% extends 'layout.html' %} {% block content %}
<div class="flex flex-col flex-auto h-full py-6 px-64">
    <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
        <div id="chat-scroll" class="scroll-page flex flex-col h-full overflow-y-auto overflow-x-hidden mb-4">
            <div class="flex flex-col h-full">
                <div id="chat-panel" class="grid grid-cols-12 gap-y-2">
                    <!-- Chat Panel -->
                </div>
            </div>
        </div>

        <!-- Input -->
        <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-4">
            <div class="flex-grow ml-4">
                <div class="relative w-full">
                    <input
                        id="msg-send"
                        type="text"
                        class="flex w-full border rounded-xl border-blue-400 focus:outline-none focus:border-blue-300 pl-4 h-10"
                    />
                    <button class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-400 hover:text-gray-600">
                        <img class="w-6 h-6" src="/static/images/icon-emoji.svg">
                    </button>
                </div>
            </div>

            <!-- Send -->
            <div class="ml-4">
                <button
                    class="flex items-center justify-center rounded-xl text-gray-800 px-5 py-2 flex-shrink-0 bg-gradient-to-r from-blue-100 to-red-100 hover:bg-gradient-to-l hover:from-blue-200 hover:to-red-200 hover:ring-4 hover:outline-none hover:ring-blue-100"
                    type="submit"
                    id="msg-button"
                >
                    <span>Send</span>
                    <span class="ml-2">
                        <img class="w-6 h-6" src="/static/images/icon-send.svg">
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/static/scripts/chat.js"></script>
{% endblock %}
