<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
    <link rel="icon" href="/static/images/3d-cloud.jpg">
    <title>Mask Detection on Cloud</title>
    <style>
        .scroll-page::-webkit-scrollbar {
            background: #F9F3F6;
            width: 16px;
        }
        
        .scroll-page::-webkit-scrollbar-thumb {
            background: #dae7ff;
            border: 4px solid #F9F3F6;
        }
    </style>
</head>
<body>
    <!-- Container -->
    <div class="w-screen h-screen bg-blue-50 px-12 py-12">
        <div class="h-full w-full bg-white rounded-2xl w-full drop-shadow-xl overflow-hidden">
            <div class="h-full w-full flex flex-row">
                {% include "sidebar.html" %}
                <div class="h-full w-full"> 
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>