<div class="flex flex-col w-80 h-full px-4 py-8 bg-gradient-to-br from-red-50 to-blue-50 shadow-md overflow-auto">
    <div class="flex flex-col items-center mt-6 -mx-2">
        <img id="user_avatar" class="object-cover w-32 h-32 mx-2 rounded-full" src="/static/images/3d-guest-avatar.webp" alt="avatar">
        <h2 id="username_label" class="mx-2 mt-2 text-2xl font-semibold text-gray-800">Guest</h2>
        <p id="email_label" class="mx-2 mt-1 text-lg font-medium text-gray-600">guest@email.com</p>
    </div>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            <a href="/chat" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100" href="#">
                <img src="/static/images/icon-chat.svg" class="w-5 h-5 mr-2"/>
                <span class="mx-4 font-medium">Chat Service</span>
            </a>

            <a href="/ai" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100" href="#">
                <img src="/static/images/icon-ai.svg" class="w-5 h-5 mr-2"/>
                <span class="mx-4 font-medium">AI Service</span>
            </a>

            <a href="/" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100" href="#">
                <img src="/static/images/icon-about.svg" class="w-5 h-5 mr-2"/>
                <span class="mx-4 font-medium">About</span>
            </a>
        </nav>
    </div>

    <div class="flex flex-col justify-center flex-1 mt-6 border-t border-gray-200">
        <a id="login_button" href="/login" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100 hover:ring-2 hover:outline-none hover:ring-indigo-50" href="#">
            <img src="/static/images/icon-login.svg" class="w-5 h-5 mr-2"/>
            <span class="mx-4 font-medium">Sign In</span>
        </a>

        <a id="register_button" href="/register" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100 hover:ring-2 hover:outline-none hover:ring-indigo-50" href="#">
            <img src="/static/images/icon-register.svg" class="w-5 h-5 mr-2"/>
            <span class="mx-4 font-medium">Register</span>
        </a>

        <a id="logout_button" href="/logout" class="flex items-center px-4 py-2 mt-5 text-gray-600 transition-colors duration-300 transform rounded-lg hover:text-gray-700 hover:bg-gradient-to-r from-blue-100 to-red-100 hover:ring-2 hover:outline-none hover:ring-indigo-50" href="#">
            <img src="/static/images/icon-logout.svg" class="w-5 h-5 mr-2"/>
            <span class="mx-4 font-medium">Logout</span>
        </a>
    </div>
</div>

<script src="/static/scripts/auth.js"></script>